<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="LibraryProjectFrame">
		<title>Biblioteka</title>
		<icon>C:\Users\USER\Desktop\LibraryProject\icon.ico</icon>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
					<size>659,719</size>
					<handler function="OnNotebook1PageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
							<pos>202,248</pos>
							<object class="wxBoxSizer" variable="BoxSizer2" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer4" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxListCtrl" name="ID_LISTCTRL1" variable="ListCtrlBook" member="yes">
												<size>627,456</size>
												<style>wxLC_REPORT</style>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer8" member="no">
												<orient>wxVERTICAL</orient>
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer9" member="no">
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
																<label>Tytul ksiazki</label>
																<style>wxALIGN_RIGHT</style>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrlEditAddTitle" member="yes">
																<size>190,30</size>
																<handler function="OnTextCtrlEditAddTitleText" entry="EVT_TEXT" />
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer10" member="no">
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
																<label>Autor ksiazki</label>
																<style>wxALIGN_RIGHT</style>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrlEditAddAuthor" member="yes">
																<size>190,30</size>
																<handler function="OnTextCtrlEditAddAuthorText" entry="EVT_TEXT" />
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer3" member="no">
												<object class="sizeritem">
													<object class="wxButton" name="ID_BUTTON1" variable="ButtonAddBook" member="yes">
														<label>Dodaj</label>
														<size>143,28</size>
														<handler function="OnButtonAddBookClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxButton" name="ID_BUTTON2" variable="ButtonEditBook" member="yes">
														<label>Edytuj</label>
														<size>143,28</size>
														<handler function="OnButtonEditBookClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxButton" name="ID_BUTTON8" variable="ButtonFindBook" member="yes">
														<label>Znajdz</label>
														<size>143,28</size>
														<handler function="OnButtonFindBookClick1" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxButton" name="ID_BUTTON3" variable="ButtonDeleteBook" member="yes">
														<label>Usun</label>
														<size>143,28</size>
														<handler function="OnButtonDeleteBookClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Ksiazki</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
							<pos>105,11</pos>
							<object class="wxBoxSizer" variable="BoxSizer5" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer7" member="no">
										<orient>wxVERTICAL</orient>
										<object class="sizeritem">
											<object class="wxListCtrl" name="ID_LISTCTRL2" variable="ListCtrlReader" member="yes">
												<size>627,456</size>
												<style>wxLC_REPORT</style>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer6" member="no">
												<orient>wxVERTICAL</orient>
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer11" member="no">
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
																<label>Imie czytelnika</label>
																<style>wxALIGN_RIGHT</style>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrlEditAddName" member="yes">
																<size>190,30</size>
																<handler function="OnTextCtrlEditAddNameText" entry="EVT_TEXT" />
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer12" member="no">
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
																<label>Nazwisko czytelnika</label>
																<style>wxALIGN_RIGHT</style>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="TextCtrlEditAddSurName" member="yes">
																<size>190,30</size>
																<handler function="OnTextCtrlEditAddSurNameText" entry="EVT_TEXT" />
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer13" member="no">
												<object class="sizeritem">
													<object class="wxButton" name="ID_BUTTON4" variable="ButtonAddReader" member="yes">
														<label>Dodaj</label>
														<size>143,28</size>
														<handler function="OnButtonAddReaderClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxButton" name="ID_BUTTON5" variable="ButtonEditReader" member="yes">
														<label>Edytuj</label>
														<size>143,28</size>
														<handler function="OnButtonEditReaderClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxButton" name="ID_BUTTON11" variable="ButtonFindReader" member="yes">
														<label>Znajdz</label>
														<size>143,28</size>
														<handler function="OnButtonFindReaderClick1" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxButton" name="ID_BUTTON6" variable="ButtonDeleteReader" member="yes">
														<label>Usun</label>
														<size>143,28</size>
														<handler function="OnButtonDeleteReaderClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Czytelnicy</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
							<pos>190,15</pos>
							<object class="wxBoxSizer" variable="BoxSizer14" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxListCtrl" name="ID_LISTCTRL3" variable="ListCtrlBoth" member="yes">
										<size>627,456</size>
										<style>wxLC_REPORT</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer15" member="no">
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer16" member="no">
												<orient>wxVERTICAL</orient>
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer17" member="no">
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
																<label>Imie czytelnika</label>
																<style>wxALIGN_RIGHT</style>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="TextCtrlSearchReaderName" member="yes">
																<size>140,30</size>
																<handler function="OnTextCtrlSearchReaderText" entry="EVT_TEXT" />
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer18" member="no">
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText12" member="yes">
																<label>Nazwisko cztelnika</label>
																<style>wxALIGN_RIGHT</style>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxTextCtrl" name="ID_TEXTCTRL10" variable="TextCtrlSearchReaderLastName" member="yes">
																<size>140,30</size>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer19" member="no">
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
														<label>Tytul ksiazki</label>
														<size>53,21</size>
														<style>wxALIGN_RIGHT</style>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="TextCtrlSearchBook" member="yes">
														<size>76,30</size>
														<handler function="OnTextCtrlSearchBookText" entry="EVT_TEXT" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON7" variable="ButtonFindBoth" member="yes">
										<label>Znajdz</label>
										<size>157,28</size>
										<handler function="OnButtonFindBookClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
									<size>259,75</size>
								</object>
							</object>
						</object>
						<label>Wyszukiwanie</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
							<pos>368,14</pos>
							<object class="wxBoxSizer" variable="BoxSizer20" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer21" member="no">
										<orient>wxVERTICAL</orient>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
											<size>127,43</size>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
												<label>Wypozyczenie</label>
												<font>
													<size>11</size>
													<style>normal</style>
													<weight>normal</weight>
													<underlined>0</underlined>
													<family>swiss</family>
													<face>Arial</face>
												</font>
												<style>wxALIGN_CENTRE</style>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxSHAPED</flag>
											<border>5</border>
											<option>2</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
											<size>121,45</size>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer24" member="no">
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
														<label>Numer Ksiazki</label>
														<style>wxALIGN_RIGHT</style>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="TextCtrlLendBookID" member="yes">
														<handler function="OnTextCtrlLendBookIDText" entry="EVT_TEXT" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>2</option>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer25" member="no">
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
														<label>Numer Czytelnika</label>
														<style>wxALIGN_RIGHT</style>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="TextCtrlLendReaderID" member="yes">
														<size>130,30</size>
														<handler function="OnTextCtrlLendReaderIDText" entry="EVT_TEXT" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>2</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
											<size>98,24</size>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON9" variable="ButtonLendBook" member="yes">
												<label>Wypozycz Ksiazke</label>
												<handler function="OnButtonLendBookClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
											<size>129,32</size>
										</object>
										<object class="sizeritem">
											<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
												<size>631,3</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
											<size>121,44</size>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
												<label>Zwrot</label>
												<font>
													<size>11</size>
													<style>normal</style>
													<weight>normal</weight>
													<underlined>0</underlined>
													<family>default</family>
													<face>Arial</face>
												</font>
												<style>wxALIGN_CENTRE</style>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxSHAPED</flag>
											<border>5</border>
											<option>2</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
											<size>124,40</size>
										</object>
										<object class="sizeritem">
											<object class="wxBoxSizer" variable="BoxSizer26" member="no">
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
														<label>Numer Ksiazki</label>
														<style>wxALIGN_RIGHT</style>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="ID_TEXTCTRL9" variable="TextCtrlReturnBookID" member="yes">
														<size>130,30</size>
														<handler function="OnTextCtrlReturnBookIDText" entry="EVT_TEXT" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>2</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
											<size>101,23</size>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON10" variable="ButtonReturnBook" member="yes">
												<label>Zwroc Ksiazke</label>
												<size>149,34</size>
												<handler function="OnButtonReturnBookClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
											<size>124,38</size>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Wypozyczenia / Zwroty</label>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="no">
					<label>Wyjscie</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Pomoc</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>O aplikacji</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
